/* DISPOSITIVOS PARA FAZER O MEDIA DE RESPONSIVIDADE MOBILE
GALAXY28,
IPHONE SE  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    ;
}

:root {
    --cor_fundo_site: #F8F9FA;
    --cor_cards_acesso: rgba(255, 255, 255, 0.719);
    --default_shadow: 5px 10px 15px rgb(0, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F8F9FA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 140px);
}

#filterBlack {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100% - 90px);
    background-color: rgba(0, 0, 0, 0.507);
}

.backgroundImg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 50s infinite;
}

@keyframes slide {

    0%,
    14% {
        background-image: url(/img/goldenGate.jpg);
        background-position: 15% 0%;
    }

    15%,
    29% {
        background-image: url(/img/esfinge.jpg);
        background-position: 40% 0%;
    }

    30%,
    44% {
        background-image: url(/img/torreEiffel.webp);
        background-position: 70% 0%;
    }

    45%,
    59% {
        background-image: url(/img/cristoRedentor.jpg);
        background-position: 0% 0%;
    }

    60%,
    74% {
        background-image: url(/img/louvre.jpg);
        background-position: 65% 0%;
    }

    75%,
    89% {
        background-image: url(/img/monteFuji.jpg);
        background-position: 40% 0%;
    }

    90%,
    100% {
        background-image: url(/img/sydney.jpg);
        background-position: 25% 0%;
    }
}

.containerCard {
    display: none;
}

#cardLogin {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 95%;
    height: 60%;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--cor_cards_acesso);
    box-shadow: var(--default_shadow);
}

#cardLogin span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 500;
}

.containerInputsLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 70%;
}

.containerInputsLogin input {
    all: unset;
    display: flex;
    padding-left: 15px;
    width: 95%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    font-size: 18px;
}

.containerButtons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 15px;
    width: 100%;
    height: 20%;
}

.containerButtons button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    color: rgb(51, 51, 51);
}

#register {
    width: 140px;
}

#enter {
    width: 100px;
}

#cardRegister {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    width: 95%;
    height: 75%;
    background-color: var(--cor_cards_acesso);
    border-radius: 30px;
    box-shadow: var(--default_shadow);
}

.containerClose {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 60px;
}

.containerClose p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 1.3rem;
}

.containerClose img {
    width: 15px;
    margin-bottom: 20px;
}

.containerInputsRegister {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc(100% - 115px);
}

.containerInputSpan {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}

#cardRegister span {
    height: 30px;
    padding-left: 15px;
    height: 10%;
    color: red;
    margin-top: 5px;
    font-size: 70%;
}

.containerInputsRegister input {
    all: unset;
    width: 96%;
    height: 90%;
    padding-left: 15px;
    border-radius: 30px;
    background-color: white;
}

.containerPassInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12.5%;
    min-height: 40px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: white;
}

.containerConfirmPass p {
    height: 20%;
    font-size: 90%;
    margin-bottom: 5px;
    padding-left: 10px;
}

.containerInputsRegister div img {
    width: 30px;
    height: 20px;
    z-index: 10;
}

.containerPassInput img:hover+.notView {
    height: 0px;
}

.containerConfirmPass {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 30%;
}

.containerConfirmPass .containerPassInput {
    height: 39%;
}

.containerConfirmPass span {
    height: 70%;
}

.notView {
    width: 4px;
    height: 30px;
    margin-left: -17px;
    margin-bottom: 2px;
    background-color: #919191a1;
    transform: rotate(45deg);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.containerCheckbox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 10px;
    padding: 15px 0px 20px 15px;
}

.containerCheckbox label {
    text-decoration: underline;
    font-size: 90%;
}

#registerGo {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
}

#cardResultRegister {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    height: 130px;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--cor_cards_acesso);
    box-shadow: var(--default_shadow);
}

#cardResultRegister img {
    width: 13px;
}

#cardResultRegister span {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 100%;
}

.containerButton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
}

#goLogin {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.685);
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(136, 136, 136);
}


@media (min-width: 768px) {
    #cardLogin {
        width: 50%;
        height: 50%;
    }

    #cardRegister {
        width: 60%;
        height: 65%;
    }

    #cardRegister input {
        max-height: 55px;
    }

    .containerPassInput {
        height: 11.5%;
        max-height: 55px;
    }

    #cardResultRegister {
        width: 55%;
        height: 20%;
    }
}


@media (min-width: 1024px) {
    #cardLogin {
        width: 25%;
        height: 65%;
    }

    #cardRegister {
        width: 30%;
        height: 75%;
    }

    #cardRegister input {
        max-height: 30px;
    }

    .containerPassInput {
        min-height: 30px;
    }

    .containerPassInput img {
        max-width: 25px;
        max-height: 15px;
    }

    .notView {
        margin-left: -15px;
        height: 25px;
    }

    #cardResultRegister {
        width: 35%;
        height: 25%;
    }

}

@media (min-height: 1366px) {
    #cardLogin {
        width: 45%;
        height: 45%;
    }

    #cardRegister {
        width: 50%;
        height: 50%;
    }

    #cardRegister input {
        max-height: none;
    }

    .containerPassInput {
        min-height: none;
    }

    #cardResultRegister {
        width: 45%;
        height: 12%;
    }
}

@media (min-width: 1280px) {
    .backgroundImg {
        display: none;
    }

    .containerCard {
        display: flex;
        flex-direction: column;
        width: calc(80% - 20px);
        height: 90%;
        padding: 35px 15px 0px 15px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.459);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    }

    .containerImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 85%;
    }

    .containerImg img {
        width: 95%;
        height: 85%;
    }

    .containerLocation {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 10%;
        padding-right: 25px;
        gap: 10px;
        font-size: 1.8rem;
    }

    .containerLocation img {
        width: 25px;
        height: 35px;
    }

    .containerCard p {
        width: 100%;
        height: 15%;
        padding: 0px 15px 0px 20px;
    }

    main {
        padding: 0px 30px 0px 30px;
        gap: 20px;
        background: #FC7A33;
        background: linear-gradient(0deg, rgba(252, 122, 51, 1) 0%, rgba(248, 249, 250, 1) 100%);
    }

    #cardLogin {
        position: static;
        width: 30%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.459);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
    }

}